html {
    text-shadow: 0.0135em 0.0135em 0 #160315;
    font: lighter 100%/1.4 'Roboto', sans-serif;
}

body {

}

.footer-h2 {
    margin:50px 0 0 0 ;
    padding:0;
    font-weight: 300;
    font-size: 19px;
    text-align: center;
}

.footer-h3 {
    margin:0;
    padding:0;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

.heading{
    text-align: center;
}

.experience {
    margin: 0 auto 20px;

    background: #184032;
    border-radius: 3px;
    text-align: left;
    width: 350px;
    height: 210px;
    box-shadow: 1px 1px .2em #111c12;
}

.title {
    padding: 15px 0 0 15px;
    margin: 0;

    font-size: x-large;
    color: #5FD1A2;
}

.company-date {
    padding: 0 0 2px;
    margin: 0 15px;

    border-bottom: 1px solid #5FD1A2;
}

.company {
    padding: 0 5px 0 0;
    margin:0;

    font-size: large;
    color: white;
    text-transform: uppercase;
}

.date {
    padding: 0;
    margin: 0;

    font-size: medium;
    color: silver;
}

div.excerpt {
    padding: 0;
    margin: 15px 15px 5px;

    text-align: left;
    font-size: 11pt;
}

#read-more {
    margin-top: 10px;
    text-align: center;
}

p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    padding: 0;
    margin: 0;
}

.default-primary-color { background: #202020; }
.primary-text-color    { color: white; }
.secondary-text-color  { color: #FC6D5D; }