.default-primary-color {
    background: white;
}

.primary-text-color {
    color: black;
}

.nav-text-color {
    color: white !important;
}

html {
    text-shadow: 0.0135em 0.0135em 0 #160315;
    font: lighter 100%/1.5 "Courier New", Courier, monospace !important;
}

#heading,
#experience_section,
#project_section {
    margin: 0 auto;
}

#heading {
    width: 400px;
    height: inherit;
}

h2, h3, h4,
.top-title,
#contacts,
.footer-h2,
.footer-h3,
.read-more,
.back {
    text-align: center;
}

.card-style,
div.excerpt {
    text-align: left;
}

.top-title,
.footer-h2,
.footer-h3,
#contacts,
.date,
div.excerpt,
p {
    padding: 0;
}

p,
.title,
.date,
.footer-h3,
.company {
    margin: 0;
}

.top-title {
    margin-bottom: 0;
}

.contact-icon {
    font-size: 25px;
}

#contacts a {
    margin-right: 10px;
    text-decoration: none;
}

#contacts a,
#contacts a:visited {
    color: white;
}

.bullet {
    font-weight: normal;
}

.footer-h2,
.footer-h3 {
    font-weight: 300;
}

.footer-h2 {
    margin: 50px 0 0 0;
    font-size: 18px;
}

.footer-h3 {
    font-size: 14px;
}

.card-style {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
}

.card-style:hover {
    background-color: #fbf3ea;
}

.card-a {
    margin: 15px 0 !important;
}

.large {
    margin: 50px auto;

    width: 700px;
    height: auto;
}

.medium {
    margin: 0 15px 20px 15px;

    width: 350px;
    height: auto;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    justify-content: space-around;
}

.skill {
    margin: 0 15px 20px 15px;

    max-width: 10em;
}

.skill-content {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.skill-text {
    margin: 15px 15px 0 15px;

    font-size: large;
    color: black;
}

svg {
    align-self: center;
    max-height: 4em;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
}

.title {
    padding: 15px 0 0 15px;

    font-size: x-large;
    color: black;
}

.company-date {
    padding: 0 0 2px;
    margin: 0 15px;

    border-bottom: 1px solid black;
}

.company {
    padding: 0 5px 0 0;

    font-size: large;
    color: dimgrey;

    text-transform: uppercase;
}

.date {
    font-size: medium;
    color: dimgrey;

    font-style: italic;
}

div.excerpt {
    margin: 15px 15px 5px;
    font-size: 11pt;
    color: black;
}

.short {
    overflow: hidden;

    height: 65px;
    font-size: 11pt;
}

.read-more, .back {
    margin-top: 10px;

    width: inherit;
    height: 60px;
}

.large-detail-area {
    margin-bottom: 50px;
}

.mid-detail-area {
    height: 190px;
}

.my-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 760px;
}

#experience_section {
    padding-bottom: 30px;
}

.clear {
    clear: both;
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation .next {
    text-align: right;
}

.nav-wrapper {
    padding-left: 20px;
    background-color: black !important;
}

.brand-logo:hover,
#contacts a:hover,
.fab:hover,
.far:hover,
.fas:hover,
.btn:hover {
    color: paleturquoise;
}