
.default-primary-color { background: rgb(7,36,59); }
.primary-text-color    { color: white; }
.secondary-text-color  { color: #5FD1A2; }
.text-shadow           {  color: #160315;  }
.card-bg               {  background-color: rgb(10,46,74);  }
.card-shadow           {  background-color: #111c12;  }
.dark-blue-text        {  color: rgb(7,36,59) !important;  }
.orange-color          {  background-color: #DE6064 !important;  }
.green-accent          {  background-color: #5FD1A2;  }
.green-accent-text     {  color: #5FD1A2;  }

html {
    text-shadow: 0.0135em 0.0135em 0 #160315;
    font: lighter 100%/1.5  "Helvetica","Yantramanav",Helvetica,Arial,"Lucida Grande",sans-serif;
}

/*body {*/
    /*background: url("../images/My-image.jpg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/

.header {
    color: #ee6e73;
    font-weight: 300;
}

p {
    font-weight: 300;
    color: rgba(0,0,0,0.71);
    -webkit-font-smoothing: antialiased;
}

.parallax-container {
    height: 700px !important;
}


#heading, #experience_section, #project_section {
    margin: 0 auto;
}

#heading {
    width: 400px;
    height: inherit;
}

h2, h3, h4, .top-title, #contacts, .footer-h2,
.footer-h3, .read-more, .back {
    text-align: center;
}

.my-card, div.excerpt{
    text-align: left;
}

.top-title, .footer-h2, .footer-h3, #contacts,
.date, div.excerpt, p {
    padding: 0;
}

.title, .date, p, .footer-h3, .company {
    margin: 0;
}

.top-title{
    margin-bottom: 0;
}

.contact-icon {
    font-size: 25px;
}

#contacts {
    /*margin: 0 0 40px;*/
}

#contacts a{
    margin: 0 10px;
    text-decoration: none;
    color: #A0A0A0;
}

#contacts a:visited, #contacts a {
    color: rgb(7,36,59);
}

#contacts a :hover {
    color: #5FD1A2;
}

.bullet {
    font-weight: normal;
}

.footer-h2, .footer-h3 {
    font-weight: 300;
}

.footer-h2 {
    margin:50px 0 0 0 ;
    font-size: 18px;
}

.footer-h3 {
    font-size: 14px;
}

.my-card {
    background-color: rgb(10,46,74);
    border-radius: 3px;
    box-shadow: 1px 1px .2em #111c12;
}

.card-a {
    margin: 15px 0 !important;
    background: rgb(10,46,74) !important;
    text-align: left !important;
}

.large {
    margin: 50px auto;

    width: 700px;
    height: 350px;
}

.medium {
    margin: 0 15px 20px 15px;

    width: 350px;
    height: 250px;
}

.title {
    padding: 15px 0 0 15px;

    font-size: x-large;
    color: #FC6D5D;
}

.company-date {
    padding: 0 0 2px;
    margin: 0 15px;

    border-bottom: 1px solid #FC6D5D;
}

.company {
    padding: 0 5px 0 0;

    font-size: large;
    color: white;
}

.date {
    font-size: medium;
    color: silver;
}

div.excerpt {
    margin: 15px 15px 5px;
    font-size: 11pt;
    color: white;
}

div.short {
    overflow: hidden !important;
    height: 65px;
    font-size: 11pt;
}

.read-more, .back {
    margin-top: 10px;

    width: inherit;
    height: 60px;
}

.large-detail-area{
    height: 290px;
}

.large-detail-area-a{
    margin-bottom: 50px;
}

.mid-detail-area {
    height: 190px;
}

.my-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 760px;
}

#experience_section {
    padding-bottom: 30px;
}

.clear {
    clear: both;
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation .next {
    text-align: right;
}


.medium-a {
    /*width: 350px;*/
    /*height: 250px;*/
}

.section-a {
    /*display: flex !important;*/
    /*flex-wrap: wrap !important;*/
    /*flex-direction: row !important;*/
    /*justify-content: center !important;*/
    /*width: 760px;*/

}

.card-a {
    margin: 15px 0 !important;
    background: rgb(10,46,74)!important;
    /*border-radius: 3px;*/
    /*box-shadow: 1px 1px .2em var(--card-shadow);*/
    text-align: left !important;
}
