---
layout: default
---
<!--for experience in site.posts limit:2-->

<h2>Experience</h2>
<div id="experience_section">
{% for experience in site.categories.experiences %}
<div class="experience">
    <p class="title">{{experience.title}}</p>
    <div class="company-date">
        <p><span class="company">{{experience.company}}</span>
            <span class="date">{{experience.start_date}} &ndash; {{experience.end_date}}</span></p>
    </div>
    <div class="excerpt-short">{{ experience.excerpt}}</div>

    <div id="read-more">
        <a class="waves-effect waves-light btn" href="{{site.baseurl}}{{experience.url}}">
            read more
        </a>
    </div>
</div>
{% endfor %}
</div>

<div class="clear"></div>

<h2>Projects</h2>
<div id="project_section">
{% for proj in site.categories.projects %}
<div class="experience">
    <p class="title">{{proj.title}}</p>
    <div class="company-date">
        <p><span class="company">{{proj.company}}</span>
            <span class="date">{{proj.approx_date}}</span></p>
    </div>
    <div class="excerpt-short">{{ proj.excerpt}}</div>

    <div id="read-more">
            <a class="waves-effect waves-light btn" href="{{site.baseurl}}{{proj.url}}">
                read more
            </a>
    </div>
</div>
{% endfor %}
</div>

<div class="clear"></div>

