<button (click)="toggle()">{{ isOpen ? 'close' : 'open' }}</button>
<div class="grid">
  <div class="middle" @flyInOut *ngIf="isOpen">
    <p>The box is inserted</p>
  </div>
  <div class="left-half" @flyInOut *ngIf="isOpen">
    <p>The box is inserted</p>
  </div>
  <div class="middle" @flyInOut *ngIf="isOpen">
    <p>The box is inserted</p>
  </div>
  <div class="middle" @flyInOut *ngIf="isOpen">
    <p>The box is inserted</p>
  </div>
  <div class="right-half" @flyInOut *ngIf="isOpen">
    <p>The box is inserted</p>
  </div>
</div>
