.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.left-half {
  grid-column: 1 / 2;
}

.right-half {
  grid-column: 3 / 4;
}

.middle {
  grid-column: 2 / 3;
}

.hero {
  display: block;
  width: 100px;
  overflow: hidden;
}

