<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s10">
                    <a href="{{ base.url }}" class="brand-logo">{{ site.title }}</a>
                </div>
                <div class="col s2">
                    <ul id="contacts" class="right hide-on-med-and-down">
                        <li>
                            <a title="Email" class="contact-icon" target="_blank" href="mailto:apahlavan1@utexas.edu">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a title="Resume" class="contact-icon" target="_blank" href="/resumes-cvs/resume-10-02-17">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a title="LinkedIn" class="contact-icon" target="_blank" href="https://www.linkedin.com/in/ariapahlavan/">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a title="GitHub" class="contact-icon" target="_blank" href="https://github.com/AriaPahlavan">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!--<h1 class="top-title secondary-text-color">{{ site.title }}</h1>
    <div id="contacts" class="secondary-text-color">
        <a title="Email" class="contact-icon" target="_blank" href="mailto:apahlavan1@utexas.edu">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
        <a title="Resume" class="contact-icon" target="_blank" href="/resumes-cvs/resume-10-02-17">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </a>
        <a title="LinkedIn" class="contact-icon" target="_blank" href="https://www.linkedin.com/in/ariapahlavan/">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a title="GitHub" class="contact-icon" target="_blank" href="https://github.com/AriaPahlavan">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>-->
