<h1 class="heading secondary-text-color" >{{ site.title }}</h1>
<div id="header" class="secondary-text-color">

    <a class="contacts" target="_blank" href="mailto:apahlavan1@utexas.edu">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
    {% include bullet.html %}
    <a class="contacts" target="_blank" href="/resumes-cvs/resume-10-02-17">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
    </a>
    {% include bullet.html %}
    <a class="contacts" target="_blank" href="https://www.linkedin.com/in/ariapahlavan/">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    {% include bullet.html %}
    <a class="contacts" target="_blank" href="https://github.com/AriaPahlavan">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
</div>