<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="{{ base.url }}" class="brand-logo dark-blue-text">{{ site.title }}</a>
            <div id="contacts" class="secondary-text-color">

                <ul class="right hide-on-med-and-down">
                    <li><a title="Email" class="contact-icon" target="_blank" href="mailto:apahlavan1@utexas.edu">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a></li>
                    <li><a title="Resume" class="contact-icon" target="_blank" href="/resumes-cvs/resume-10-16-17.pdf">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </a></li>
                    <li><a title="LinkedIn" class="contact-icon" target="_blank"
                           href="https://www.linkedin.com/in/ariapahlavan/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a></li>
                    <li><a title="GitHub" class="contact-icon" target="_blank" href="https://github.com/AriaPahlavan">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>