<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isLargeScreen$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isLargeScreen$ | async) ? 'over' : 'side'"
               [opened]="(isLargeScreen$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/posts/articles" (click)="drawer.close()">Articles</a>
      <a mat-list-item routerLink="/posts/projects" (click)="drawer.close()">Projects</a>
      <a mat-list-item routerLink="/posts/jobs" (click)="drawer.close()">Experience</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isLargeScreen$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Posts</span>
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Activate to toggle light or dark theme" (click)="switchTheme()">
        <mat-icon>{{isLight ? 'dark_mode' : 'light_mode'}}</mat-icon>
      </button>
    </mat-toolbar>
        <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
