<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="'dialog'"
               [mode]="'over'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let c of menuContent" mat-list-item [routerLink]="c.link" (click)="drawer.close()">
        {{c.text}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z10">
      <button
        *ngIf="isHandset$ | async"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ng-container *ngIf="!(isHandset$ | async)">
        <a *ngFor="let c of menuContent" mat-button [routerLink]="c.link" (click)="drawer.close()">
          {{c.text}}
        </a>
      </ng-container>
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Activate to toggle light or dark theme" (click)="switchTheme()">
        <mat-icon>{{isLight ? 'dark_mode' : 'light_mode'}}</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
