@import "src/styles/media";

// right-cell             |  -  |  -  |  -   |  X   |
// force-right-cell       |  -  |  -  |  -   |  X   |
// right-half             |  -  |  -  |  X   |  X   |
// force-right-half       |  -  |  -  |  X   |  X   |
// right-mid-cell         |  -  |  -  |  X   |  -   |
// middle                 |  -  |  X  |  X   |  -   |
// left-mid-cell          |  -  |  X  |  -   |  -   |
// left-half              |  X  |  X  |  -   |  -   |
// force-left-half        |  X  |  X  |  -   |  -   |
// left-cell              |  X  |  -  |  -   |  -   |
// force-left-cell        |  X  |  -  |  -   |  -   |
// full-row               |  X  |  X  |  X   |  X   |

.content {
  display: grid;
  grid-template-columns: [left] 1fr [left-middle]  1fr [middle] 1fr [right-middle] 1fr [right];
  grid-gap: 15px;
  overflow: hidden;
}

.force-left-half {
  grid-column: left / middle;
}

.force-right-half {
  grid-column: middle / right;
}

.force-left-cell {
  grid-column: left / left-middle;
}

.force-right-cell {
  grid-column: right-middle / right;
}

@include mobile-min {
  .full-row, .left-half, .right-half, .left-cell,
  .right-cell, .left-mid-cell, .middle, .right-mid-cell {
    grid-column: left / right;
  }
}

@include tablet-min {
  .full-row, .right-half, .right-cell, .right-mid-cell,
  .left-half, .left-cell, .left-mid-cell {
    grid-column: left / right;
  }

  .middle {
    grid-column: left-middle / right-middle;
  }
}

@include laptop-min {
  .full-row {
    grid-column: left / right;
  }

  .left-half {
    grid-column: left / middle;
  }

  .right-half {
    grid-column: middle / right;
  }

  .left-cell {
    grid-column: left / left-middle;
  }

  .right-cell {
    grid-column: right-middle / right;
  }

  .left-mid-cell {
    grid-column: left-middle / middle;
  }

  .middle {
    grid-column: left-middle / right-middle;
  }

  .right-mid-cell {
    grid-column: middle / right-middle;
  }
}

@include desktop-min {
}
