$bp-mobile: 300px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1440px;

@mixin mobile {
  @media (min-width: $bp-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $bp-laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}
