$bp-mobile-min: 0;
$bp-mobile-max: 425px;

$bp-tablet-min: $bp-mobile-max + 1;
$bp-tablet-max: 768px;

$bp-laptop-min: $bp-tablet-max  + 1;
$bp-laptop-max: 1024px;

$bp-desktop-min: $bp-laptop-max  + 1;
$bp-desktop-max: 1440px;

$bp-display4k-min: $bp-desktop-max  + 1;
$bp-display4k-max: 2560px;

@mixin mobile-n-larger {
  @media (min-width: $bp-mobile-min) {
    @content;
  }
}

@mixin mobile-n-smaller {
  @media (max-width: $bp-mobile-max) {
    @content;
  }
}

@mixin tablet-n-larger {
  @media (min-width: $bp-tablet-min) {
    @content;
  }
}

@mixin tablet-n-smaller {
  @media (max-width: $bp-tablet-max) {
    @content;
  }
}

@mixin laptop-n-larger {
  @media (min-width: $bp-laptop-min) {
    @content;
  }
}

@mixin laptop-n-smaller {
  @media (max-width: $bp-laptop-max) {
    @content;
  }
}

@mixin desktop-n-larger {
  @media (min-width: $bp-desktop-min) {
    @content;
  }
}

@mixin desktop-n-smaller {
  @media (max-width: $bp-desktop-max) {
    @content;
  }
}

@mixin display4k-n-larger {
  @media (min-width: $bp-display4k-min) {
    @content;
  }
}

@mixin display4k-smaller {
  @media (max-width: $bp-display4k-max) {
    @content;
  }
}
