<div class="wrapper">
  <div class="content items-align-center items-justify-center">
    <h1 class="full-row">Tracker</h1>

    <h2 class="left-mid-cell self-justify-start">Title</h2>
    <h2 class="right-mid-cell self-justify-start">Count</h2>

    <ng-container *ngIf="counts$ | async as counts">
      <div class="left-mid-cell self-justify-start">Push ups</div>
      <div class="right-mid-cell">{{counts.pushUp}}</div>

      <div class="left-mid-cell self-justify-start">Sit ups</div>
      <div class="right-mid-cell">{{counts.sitUp}}</div>

      <div class="left-mid-cell self-justify-start">Pull ups</div>
      <div class="right-mid-cell">{{counts.pullUp}}</div>
    </ng-container>

    <markdown class="full-row">---</markdown>

    <div class="left">
      <button mat-icon-button aria-label="Activate to toggle light or dark theme" (click)="prevDay()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>

    <div class="middle">{{daysSubject.asObservable() | async}}</div>


    <div class="right">
      <button mat-icon-button aria-label="Activate to toggle light or dark theme" (click)="nextDay()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
