.content {
  display: grid;
  grid-template-columns: [start] 1fr [left-gap]  1fr [middle] 1fr [right-gap]  1fr [end];
}

.full-row {
  grid-column: left-gap / right-gap;
}

.left-half {
  grid-column: start / left-gap;
}

.left-half {
  grid-column: left-gap / middle;
}

.middle {
  grid-column: left-gap / right-gap;
}

.right-half {
  grid-column: middle / right-gap;
}

.right-half {
  grid-column: right-gap / end;
}
