<div class="wrapper">
  <div class="tracker-content items-align-center items-justify-center">
    <h1 class="tracker-full-row ">Workout Tracker</h1>

    <h2 class="tracker-left-mid-cell self-justify-start">Move</h2>
    <h2 class="tracker-right-mid-cell self-justify-start">Count</h2>

    <ng-container *ngIf="counts$ | async as counts">
      <div class="tracker-left-mid-cell self-justify-start">Push ups</div>
      <div class="tracker-right-mid-cell">{{counts.pushUp}}</div>

      <div class="tracker-left-mid-cell self-justify-start">Sit ups</div>
      <div class="tracker-right-mid-cell">{{counts.sitUp}}</div>

      <div class="tracker-left-mid-cell self-justify-start">Pull ups</div>
      <div class="tracker-right-mid-cell">{{counts.pullUp}}</div>
    </ng-container>

    <markdown class="tracker-full-row mt2 mb2">---</markdown>

    <div class="tracker-middle self-center">
      <button class="mr2" mat-icon-button mat-raised-button aria-label="Activate to toggle light or dark theme" (click)="prevDay()">
        <mat-icon>remove</mat-icon>
      </button>
      <span class="m2">{{daysSubject.asObservable() | async}}</span>
      <button class="ml2" mat-icon-button mat-raised-button aria-label="Activate to toggle light or dark theme" (click)="nextDay()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
