.box {
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}

code:not([class*="language-"]) {
  background-color: silver !important;
  border-radius: 3px;
  font-size: 0.94em;
  padding: 0 6px 2px;
}

.example-card {
  max-width: 400px;
  margin: 10px;
}

