<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="default-primary-color primary-text-color divider-color">


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>

{% include header.html %}

{{ content }}

{% include footer.html %}

<div class="fixed-action-btn click-to-toggle hide-on-large-only">
    <a class="btn-floating btn-large orange-color">
        <i class="material-icons">link</i>
    </a>


    <ul>
        <li><a title="Email" class="btn-floating red contact-icon" target="_blank" href="mailto:apahlavan1@utexas.edu">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a></li>
        <li><a title="Resume" class="btn-floating green contact-icon" target="_blank" href="/resumes-cvs/resume-10-02-17">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </a></li>
        <li><a title="LinkedIn" class="btn-floating blue contact-icon" target="_blank"
               href="https://www.linkedin.com/in/ariapahlavan/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a></li>
        <li><a title="GitHub" class="btn-floating black contact-icon" target="_blank" href="https://github.com/AriaPahlavan">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a></li>
    </ul>
</div>
</body>
</html>
