@use "src/app/home/home.component-theme" as home;
@use '@angular/material' as mat;
@import "src/styles/spacing";
@import "src/styles/media";
@import "src/styles/grid";

@include mat.core();

$my-palette-1: (
  50 : #e1e9ec,
  100 : #b4c8d0,
  200 : #83a3b1,
  300 : #517e92,
  400 : #2b627a,
  500 : #064663,
  600 : #053f5b,
  700 : #043751,
  800 : #032f47,
  900 : #022035,
  A100 : #6db6ff,
  A200 : #3a9cff,
  A400 : #0783ff,
  A700 : #0076ec,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-palette-2: (
  50 : #fdf6ed,
  100 : #f9e8d1,
  200 : #f6d9b2,
  300 : #f2ca93,
  400 : #efbe7c,
  500 : #ecb365,
  600 : #eaac5d,
  700 : #e7a353,
  800 : #e49a49,
  900 : #df8b37,
  A100 : #ffffff,
  A200 : #fffaf5,
  A400 : #ffdfc2,
  A700 : #ffd2a8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-primary: mat.define-palette($my-palette-1, 300, 100, 500);
$light-accent: mat.define-palette($my-palette-2);

$light-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

.light-theme {
  @include mat.all-component-colors($light-theme);
  .mat-typography p {
    margin: 0;
  }
  blockquote {
    background: rgba(10,133,255,.14);
    border-left: 4px solid #06c;
    color: #666;
  }
  td, th {
    border-color: rgba(0,0,0,.12);
  }

  code:not([class*="language-"]) {
    background-color: lightgrey;
  }

  @include home.theme($light-theme);
}

$dark-primary: mat.define-palette($my-palette-1);
$dark-accent: mat.define-palette($my-palette-2);
$dark-warn: mat.define-palette(mat.$deep-orange-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  blockquote {
    background: hsla(0,0%,87.8%,.14);
    border-left: 4px solid #03a9f4;
    color: #ccc;
  }
  td, th {
    border-color: rgba(204, 204, 204, .12);
  }

  code:not([class*="language-"]) {
    background-color: dimgray;
  }

  @include home.theme($dark-theme);
}

@include mat.all-component-themes($dark-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-header-text {
  margin: 0 !important;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  margin: 20px 0;
  padding: 1px 20px;
  border-radius: 4px;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;

  th {
    height: 56px;
  }

  td {
    font-size: 15px;
    height: 48px;
  }

  td, th {
    padding: 0;
    border-width: 1px;
    border-style: solid;
  }
}

@include mobile-n-larger {
  .wrapper {
    padding: 20px 1rem;
  }
  .listing-wrapper {
    padding: 20px 1rem;
  }
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
@include tablet-n-larger {
  .wrapper {
    padding: 20px 5rem;
  }
  .listing-wrapper {
    padding: 20px 2rem;
  }
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include laptop-n-larger {
  .wrapper {
    padding: 20px 10rem;
  }
  .cards-grid {
    //grid-template-columns: repeat(2, 1fr);
  }
}
@include desktop-n-larger {
  .wrapper {
    padding: 20px 15rem;
  }
  .listing-wrapper {
    padding: 20px 5rem;
  }
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include display4k-n-larger {
  .wrapper {
    padding: 20px 25rem;
  }
  .listing-wrapper {
    padding: 20px 10rem;
  }
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.hide-overflow {
  overflow: hidden;
}
