@import '~@angular/material/theming';
@import "src/styles/spacing";
@import "src/styles/media";
@import "src/styles/grid";

@include mat-core();

$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

.light-theme {
  @include angular-material-color($light-theme);
  .mat-typography p {
    margin: 0;
  }
  blockquote {
    background: rgba(10,133,255,.14);
    border-left: 4px solid #06c;
    color: #666;
  }
  td, th {
    border-color: rgba(0,0,0,.12);
  }

  code:not([class*="language-"]) {
    background-color: lightgrey;
  }
}

$dark-primary: mat-palette($mat-blue-grey, A200, A100, A400);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.dark-theme {
  @include angular-material-color($dark-theme);
  blockquote {
    background: hsla(0,0%,87.8%,.14);
    border-left: 4px solid #03a9f4;
    color: #ccc;
  }
  td, th {
    border-color: rgba(204, 204, 204, .12);
  }

  code:not([class*="language-"]) {
    background-color: dimgray;
  }
}

@include angular-material-theme($dark-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  margin: 20px 0;
  padding: 1px 20px;
  border-radius: 4px;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;

  th {
    height: 56px;
  }

  td {
    font-size: 15px;
    height: 48px;
  }

  td, th {
    padding: 0;
    border-width: 1px;
    border-style: solid;
  }
}

@include mobile-min {
  .wrapper {
    padding: 20px 40px;
  }
  .listing-wrapper {
    padding: 20px 15px;
  }
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

@include tablet-min {
  .wrapper {
    padding: 20px 100px;
  }
  .listing-wrapper {
    padding: 20px 50px;
  }
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include laptop-min {
  .wrapper {
    padding: 20px 200px;
  }
  .cards-grid {
    //grid-template-columns: repeat(2, 1fr);
  }
}
@include desktop-min {
  .wrapper {
    padding: 20px 300px;
  }
  .listing-wrapper {
    padding: 20px 100px;
  }
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include highres-min {
  .wrapper {
    padding: 20px 300px;
  }
  .listing-wrapper {
    padding: 20px 100px;
  }
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.hide-overflow {
  overflow: hidden;
}
