<div class="wrapper">
  <div class="page-layout">
    <div class="side-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur cum cupiditate eos fugit iusto nobis odio, optio sequi velit? Accusantium ad dicta dolor eius obcaecati perferendis ullam. Eius, pariatur?</p>
    </div>
    <div class="main-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur cum cupiditate eos fugit iusto nobis odio, optio sequi velit? Accusantium ad dicta dolor eius obcaecati perferendis ullam. Eius, pariatur?</p>
    </div>
  </div>
</div>
