@import "src/styles/media";

.container {
  padding: 5% 10%;
}

.page-layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3fr;
  grid-template-areas:
    'side main';
  grid-column-gap: 5px;
}

.main-section {
  grid-area: main;
}

.side-section {
  grid-area: side;
}

.main-layout {
  display: grid;
  grid-template-columns: minmax(0, min-content) 1fr;
  grid-column-gap: 5px;
}

.side-layout {
  display: grid;
  grid-gap: 0;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas:
    'avatar'
    'avatar'
    'name'
    'summary'
    'links'
    'aboutme'
    'aboutme'
    'aboutme';
}

.avatar-section {
  grid-area: avatar;
}

.name-section {
  background-color: #1c1c1c;
  grid-area: name;
}

.summary-section {
  background-color: #2c2c2c;
  grid-area: summary;
}

.contacts-section {
  background-color: #3c3c3c;
  grid-area: links;
}

.aboutme-section {
  background-color: #4c4c4c;
  grid-area: aboutme;
}

@include mobile-n-smaller {
  .page-layout {
    grid-column-gap: 0;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'side'
      'main';
  }

  .side-layout {
    grid-template-areas:
    'avatar  name    name'
    'avatar  name    name'
    'avatar  summary summary'
    'links   links   links'
    'aboutme aboutme aboutme'
    'aboutme aboutme aboutme'
    'aboutme aboutme aboutme';
  }
}

.avatar-section, .avatar-section img {
  object-fit: cover;
  min-width: 40px;
  width: 100%;
  height: 100%;
}

.avatar-section img {
  //border-radius: 50%;
}

.contacts-section a {
  color: white;
}

.contacts-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

$tl-color: #0c0c0c;

.tl-dotted-line {
  border-left: 2px dotted $tl-color;
  height: 20px;
}

.tl-small-line {
  border-left: 2px solid $tl-color;
  height: 30px;
}

.tl-line {
  border-left: 2px solid $tl-color;
  height: 50px;
}

.tl-item {
  justify-self: start;
}

.tl-icon,
.tl-item {
  padding: 5px;
  border-radius: 5px;
  background-color: $tl-color;
}

.tl-icon,
.tl-line,
.tl-dotted-line,
.tl-small-line
{
  justify-self: center;
}
