<div class="container mat-typography">
  <div class="page-layout">
    <div class="side-section side-layout">
      <div class="avatar-section self-center items-center content-center">
        <img [alt]="aboutMeContent.avatarAlt" [src]="aboutMeContent.avatarUrl">
      </div>
      <h1 class="name-section m0 pl1">{{aboutMeContent.name}}</h1>
      <div class="mat-small summary-section m0 p1">{{aboutMeContent.summary}}</div>
      <div class="contacts-section contacts-layout items-justify-center m0 p1">
        <ng-container *ngFor="let content of contactsContent">
          <a mat-icon-button [title]="content.title" target="_blank" [href]="content.url">
            <i class="{{content.icon}}"></i>
          </a>
        </ng-container>
      </div>
      <div class="aboutme-section m0 p1">
        <p>{{aboutMeContent.description}}</p>
      </div>
    </div>
    <div class="main-section main-layout self-justify-center">
      <div class="tl-dotted-line"></div>
      <div></div>
      <div class="tl-small-line"></div>
      <div></div>

      <ng-container *ngFor="let content of timelineContent; last as isLast">
        <a [href]="content.link" mat-mini-fab class="tl-icon">
          {{content.icon}}
        </a>
        <div class="tl-item" (mouseover)="content.showDate=true" (mouseleave)="content.showDate=false">
          {{content.showDate ? content.event : content.event}}
        </div>
        <div class="tl-item tl-date">{{content.date}}</div>
        <div *ngIf="!isLast" class="tl-line"></div>
        <div></div>
      </ng-container>
    </div>
  </div>
</div>
