<div class="wrapper mat-typography" *ngIf="cms$ | async as cms">
  <div [@pageAnimations]="cms?.length" class="content">
    <ng-container *ngFor="let content of cms">
      <ng-container *ngIf="isReady(content)">
        <ng-container
          *ngTemplateOutlet="
          of(content, [none, markdown, teaser, header, survey, component]);
          context: {$implicit: content}">
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #header let-content>
  <div class="full-row mat-display-1 mb0">{{content['title']}}</div>
  <h2 class="self-align-center mb0" [ngClass]="{'force-left-half': hasDate(content), 'full-row': !hasDate(content)}">{{content['subTitle']}}</h2>
  <h5 *ngIf="hasDate(content)" class="force-right-half self-align-center self-justify-end mb0">{{date(content)}}</h5>
  <markdown class="full-row mt2 mb2">{{'---'}}</markdown>
</ng-template>

<ng-template #markdown let-content>
  <div markdown lineNumbers
       [src]="markdownUrl(content)"
       (load)="onload($event)"
       [ngClass]="{'full-row': isFull(content), 'left-half': isLeft(content), 'right-half': isRight(content)}"
       (error)="onerror($event)">
  </div>
</ng-template>

<ng-template #teaser let-content>
  <div *ngIf="hasLink(content.images)" class="self-justify-center hide-overflow teaser"
       [ngClass]="{'full-row': isFull(content), 'left-half': isLeft(content), 'right-half': isRight(content)}">
    <img [class.full-teaser-img]="isFull(content)"
         [class.half-teaser-img]="isHalf(content)"
         [src]="imageUrlOf(content.images[0])"
         [alt]="textOf(content.images[0])">
  </div>
</ng-template>

<ng-template #survey let-content>
  <app-survey class="full-row  mt2 mb2" [content]="content"></app-survey>
</ng-template>

<ng-template #component let-content>
  <div class="full-row">
    <ng-container [ngSwitch]="content.id">
      <app-functional-programming *ngSwitchCase="'fp'"></app-functional-programming>
      <app-reactive-programming  *ngSwitchCase="'rp'"></app-reactive-programming>
      <app-pwa-workbox *ngSwitchCase="'pwa-workbox'"></app-pwa-workbox>
      <app-nginx-recaptcha *ngSwitchCase="'nginx-recaptcha'"></app-nginx-recaptcha>
      <!--PLACEHOLDER-->
      <div *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="none"></ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #none>
  <h1 class="full-row">Something went wrong 🥴</h1>
</ng-template>
