<div class="wrapper mat-typography">
  <ng-container *ngIf="cms$ | async as cms">
    <div [@pageAnimations]="cms?.length" class="content">
      <ng-container *ngFor="let content of cms">
        <ng-container *ngTemplateOutlet="of(content, [markdown, teaser, header]); context: {$implicit: content}">
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #header let-content>
  <div class="full-row mat-display-1 mb0">{{content['title']}}</div>
  <h1 class="force-left-half self-align-center mb0">{{content['subTitle']}}</h1>
  <h5 class="force-right-half self-align-center self-justify-end mb0">{{date(content)}}</h5>
  <markdown class="full-row mt2 mb2">{{'---'}}</markdown>
</ng-template>

<ng-template #markdown let-content>
  <div markdown lineNumbers emoji
       [src]="markdownUrl(content)"
       (load)="onload($event)"
       [ngClass]="{'full-row': isFull(content), 'left-half': isLeft(content), 'right-half': isRight(content)}"
       (error)="onerror($event)">
  </div>
</ng-template>


<ng-template #teaser let-content>
  <div *ngIf="hasLink(content.images)" class="self-center hide-overflow"
       [ngClass]="{'full-row': isFull(content), 'left-half': isLeft(content), 'right-half': isRight(content)}">
    <img [class.full-teaser-img]="isFull(content)"
         [class.half-teaser-img]="isHalf(content)"
         [src]="imageUrlOf(content.images[0])"
         [alt]="textOf(content.images[0])">
  </div>
</ng-template>
