.content {
  display: grid;
  grid-template-columns: [start]  1fr [middle] 1fr [end];
}

.full-row {
  grid-column: start / end;
}

.middle-left {
  grid-column: start / middle;
}

.middle-right {
  grid-column: middle / end;
}
