@import "src/styles/media";

.teaser {
}

@include mobile-min {
  .full-teaser-img {
    max-width: 290px;
    object-fit: cover;
  }

  .half-teaser-img {
    max-width: 290px;
    object-fit: cover;
  }
}

@include tablet-min {
  .full-teaser-img {
    max-width: 550px;
    object-fit: cover;
  }
  .half-teaser-img {
    max-width: 400px;
    object-fit: cover;
  }
}

@include laptop-min {
  .full-teaser-img {
    max-width: 625px;
    object-fit: cover;
  }

  .half-teaser-img {
    max-width: 275px;
    max-height: 400px;
    object-fit: cover;
  }
}

@include desktop-min {
  .full-teaser-img {
    max-width: 640px;
    object-fit: cover;
  }

  .half-teaser-img {
    max-width: 275px;
    max-height: 500px;
    object-fit: cover;
  }
}
